ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDBPrzYoKldt9pk5oD8djy8jZ1PbPCeQLZ7M7R/yb/lgSu9/fynzndzTOb5y3IGIHLsWwy8kWJBdHf5Gt5qP21NNuO89ashCO8SpUS0VGWM00JVnNcQv9dm2br8pvLivawKP5TBmJkX5gH3flBuDKG///FphrqUjxCTH+IuNk1VKzgQIFihP4/3S9Vr/knHb4FPoE8DOi2bHaJYvCBAIzFu9ulsBWE1JvJ62NxiRCuvzjpziEGGqT+YuWSrvs+T7mI/GYD48yTgx2NtetkPWpezpxz/wiCjBelfYHGD62q+garToV2v1qTUVWYqLQMrepsm5k/McJ3OZvTlG/Ktm+wWE6hYpr/3lPOeoJHDpTLEDlwHFsv1EpHy2GfKRF54J9qSvoOXAeSfy3OUkmUKWyMqbMC0Ly+3/+ZVkhh5MDIhlvV/At1RX0JywpPtjmwjToYDy3QAOeiTNlWAkMGkYhAEOPE8UMXDv2AhEUdY3kMl8w+TBDsVU6vLsGGlUoJPtQxcqtva105PB+7InqHFF1E6LALhSH7aPBf9UjMWbBiHnwWem5S8YtFDTkp8PHPLNEJuHM1YdabS+1KMYh4GeYZNEGNp/WD816WGJJIaOAUn5fjzAIPQ2PjUVmjfUAaDClaQSR/NgnbGQUCjvYZjIKLXh8inQS69wIHehZ/Tj3wsiQ== {{ (index (lastpass "keys/dotfiles") 0).note.email -}}
