#######
# ANY #
#######


[ -s "$HOME/.base_profile" ] && \. "$HOME/.base_profile"


{{ if eq .chezmoi.os "linux" -}}
#########
# LINUX #
#########


{{ else if eq .chezmoi.os "darwin" -}}
##########
# DARWIN #
##########


# Is profile the best place for this? Other completions are in rc
[ -s "$HOME/.iterm2_shell_integration.bash" ] && \. "$HOME/.iterm2_shell_integration.bash"


{{ end -}}
#######
# ANY #
#######


[ -s "$HOME/.bashrc" ] && \. "$HOME/.bashrc"
