ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDUcrzFy+UdtDIo6z3pf/7Z+UUKSG2CEUYTvcEz9T73VMNyV1IJ/b6OSmyfdF8uwc4g/hIpTMSiShe6XetNNNu0+taB7/2JKm89eQUV0RAUYLsuNjKKictlV8DxEV0XBxm+mFJxP6eHuIXowNIk98sUN7UKw6WW31EE3+ZAnQqdPJ+H3xt5+hsS9utU7u49pJoGMz5ubhSufCa0vh2fCJAZkK2y4xl22GAWtc0HfqsAQAUpXH5V76fD/Us6eoLxShvtzjJOlVV4+9sZHPLKwBAZXWMVDCsz4v0pUgMsROjPu2Ce4er77aa/DkFYJ7SyqwTcfqz+sFVkxC5rQGok0UF3cW7BqRvwx/IINquIcefyKE2UEuDL4n82BEhtH+PL5cZ9i5LseyumSW+xHqwDfDDsxXQOjizQKynbyDnFliDsoykX32MHZwF5fbafhY6lMsX77nqNCFT4InjOZiCsuPOGSwS+dIPfgJ0gnjHVK9Ohn71w4bdah1SIndmo5g3Pi8KCpNa9vvATfqdF/PkckfEOHkTKzufU3vAmrda4o6jOcWKe9JEysS/z26jsvNiHpyHBV3Wnjbpgm03zMElDCSs1snpZT8n92BNqR/8t8d0CE4BydqvHqR3Ir2DlLsr9DbLpJG9MNFuM7gVBA9OvpyJzEtuVgRer3PHy/nCJLAIxcw== {{ (index (lastpass "keys/dotfiles") 0).note.email -}}
